.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: left;
  margin-bottom: 10px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.image-grid img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

audio, video {
  width: 100%;
  margin-top: 20px;
}

h5 {
  margin-top: 40px;
  margin-bottom: 20px;
}


.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

textarea {
  width: 90%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

.scenes, .voiceovers, .result, .video {
  margin: 20px 0;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #444;
  color: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

video {
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
